@config "../tailwind.config.ts";
@import 'tailwindcss';

html {
  width: 100%;
  margin: 0;
  padding: 0;

  overflow-x: clip;
  background-color: #000;
  overscroll-behavior: none;
}

body {
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  padding: 0;

  overflow-x: clip;

  color: #fff;
  font-family: 'Inter', sans-serif;
  overscroll-behavior: none;
}

#root {
  min-height: 100dvh;
  width: 100%;
}
